<div class="vertical-center">
	<div class="login-container full-width">
		<div class="login full-width">
			<ul class="nav nav-tabs">
				<li class="nav-link"><a href="#/batchesAll">All</a></li>
				<li class="nav-link"><a href="#/batchesPast">Past</a></li>
				<li class="nav-link active"><a href="#/batchesFuture">Future</a></li>
			</ul>
			<div class="row">
				<div class="col-12 batches">
					<br>
					<h3 style="text-align:center">Future Batches</h3>
					<div class="input-group">
						<span class="input-group-addon"> Search: </span> <input
							type="text" class="form-control" ng-model="searchBox">
					</div>
					<table class="table">
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th>Start Date</th>
							<th>End Date</th>
						</tr>
						<tr
							ng-repeat="batch in batchesFuture | orderBy:order |filter:searchBox">
							<td>{{batch.name}}</td>
							<td>{{batch.type.name}}</td>
							<td>{{batch.startDate | date:"MM/dd/yyyy"}}</td>
							<td>{{batch.endDate | date:"MM/dd/yyyy"}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>