

<div class="row">
	<div class="col-md-9">
		<div class="calendar" ng-model="eventSources" calendar="myCalendar" config="uiConfig.calendar" ui-calendar="uiConfig.calendar"></div>
		<div class="alert-success calAlert" ng-show="alertMessage != undefined && alertMessage != ''">
		    <h4>{{alertMessage}}</h4>
		</div>
		<div class="alert-success calAlert" ng-show="resourceMessage != undefined && resourceMessage != ''">
		    <h4>{{resourceMessage}}</h4>
		</div>
	</div>
	<div class="col-md-3 container">
		<div class="well contentwell">
			<h3>Events</h3>
			<table class="table table-hover">
				<tr>
					<td bgcolor="0000FF"><font color="white">Topic</font></td>
				<tr>
					<td color="white" bgcolor="00FF00"><font color="white">QC/Interviews</font></td>
				<tr>
					<td color="white" bgcolor="FF0000"><font color="white">LMS/Prepanel/Panel</font></td>
			</table>
		</div>
	</div>
</div>

<!-- <ul class="unstyled">
    <li ng-repeat="e in events | filter:currentDate">
        <div class="alert alert-info">
            <a class="close" ng-click="remove($index)"><i class="icon-remove"></i></a>
            <b> {{e.title}}</b> - {{e.start | date:"MMM dd"}}
        </div>
    </li>
</ul> -->
