<!-- @author Brian McKalip -->

<!-- *********************************************** Begin CurriculaManager view ********************************************************* -->
<div id="curriculumManager" class="container" ng-controller="curriculumController">
	<div class="row">
		<div id="curriculaLoaderView" class="col col-md-2">
			<div class="columnHeader text-center">
				<h2>Curricula</h2>
				<button class="btn btn-lg btn-primary btn-block" ng-click="delectItems(); newCurriculum()">New Curriculum</button>
				<button class="btn btn-lg btn-warning btn-block" ng-click="delectItems(); setTemplate(-1)">Clear Template</button>
			</div>
				<!-- ***************************** Begin Curricula Accordion***************************************** -->
				<div id="curriculaAccordion" role="tablist">
					<div class="card" ng-repeat="curriculum in curricula">
						<div class="card-header" role="tab">
							<h5 class="mb-0">
								<a data-toggle="collapse" data-parent="#curriculaAccordion"
									data-target="#collapseCurriculum{{sanitizeString(curriculum.type)}}"> {{curriculum.type}}
								</a>
							</h5>
						</div>
	
						<div id="collapseCurriculum{{sanitizeString(curriculum.type)}}" class="collapse" role="tabpanel">
							<div class="card-block">
								<div class="list-group">
									<a ng-class="{'active': active === true}" class="list-group-item" ng-repeat="version in curriculum.versions | orderBy:'-'" ng-click="setTemplate(version); delectItems(); active = !active;">
										Version #{{$index}}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- ***************************** End Curricula Accordion***************************************** -->

		</div>
<!-- *********************************************** End CurriculaManager view ********************************************************* -->

<!-- *********************************************** Begin Curriculum view ********************************************************* -->
		<div id="curriculumView" class="col col-md-8">
			<div class="columnHeader">
				<div class="row">
					<div class="col col-md-9">
						<h3>{{displayedCurriculum.meta.type}} Curriculum - Version #{{displayedCurriculum.meta.version}}</h3>
					</div>
					<div class="col col-md-3">
						<button class="btn btn-md btn-success btn-block" ng-click="saveCurriculum()">Save Curriculum</button>

					</div>
				</div>
				
				<div id="addWeekHeader" class="row">
					<div class="col col-md-9"></div>
					<div class="col col-md-3">
						<button class="btn btn-md btn-primary btn-block" ng-click="addWeek()">Add Week</button>
					</div>
				</div>
			</div>
			
			<!-- ***************************** Begin Week Accordion***************************************** -->
			<div id="weekAccordion" role="tablist" dnd-list="week.days" dnd-allowed-typed="['week']">
				<div class="card" 
					 ng-repeat="week in displayedCurriculum.weeks"
					 dnd-draggable="week"
					 dnd-effect-allowed="move"
					 dnd-moved="week.days.splice($index, 1); console.log('moving week')"
					 >
					<div class="card-header" role="tab">
						<div class="row">
							<div class="col col-md-11">
								<h5 class="mb-0">
									<a data-toggle="collapse"
										data-target="#collapseWeek{{$index+1}}"> 
										Week #{{$index+1}} 
									</a>
								</h5>
							</div>
							<div class="col col-md-1">
								<button class="btn btn-md btn-danger text-right" ng-click="deleteWeek($index+1)"> X </button>
							</div>
						</div>
					</div>

					<div id="collapseWeek{{$index+1}}" class="collapse" role="tabpanel">
						<div class="card-block">
							<!-- ***************************** Begin Day List***************************************** -->
							<div class="row center-block" id="dayList" 
								 dnd-list="week.days" 
								 dnd-horizontal-list="true" 
								 dnd-allowed-typed="['day']">
								<div class="col col-md-1" dnd-no-drag="true"></div>
								<div class="col col-md-2 day-list" 
									 ng-repeat="day in week.days"
									 dnd-draggable="day"
									 dnd-effect-allowed="move"
									 dnd-moved="week.days.splice($index, 1); console.log($index)"
									 >
									 
									<div class="card-header day-header">
										<h6 class="text-center mb-0">
											{{weekdays[$index]}}
										</h6>
									</div>

									<div class="card-block">
										<!-- ***************************** Begin Subtopic List***************************************** -->
										<ul class="list-group" dnd-list="day.subtopics" dnd-allowed-typed="['subtopic']">
											<li class="list-group-item day-list-item" 
												ng-repeat="subtopic in day.subtopics" 
												dnd-draggable="subtopic"
												dnd-effect-allowed="move"
												dnd-moved="day.subtopics.splice($index, 1); console.log($index)">
												
<!-- 
												<div class="row">
													<div class="col col-xs-11"></div>
													<div class="col col-xs-1" style="width=100%;background-color:red;">x</div>
												</div>
 -->
												<div class="row">
													<div class="col col-xs-12">
														{{subtopic.name}} 
													</div>
												</div>
												
											</li>
										</ul>
										<!-- ***************************** End Subtopic List***************************************** -->
									</div>
								</div>
								<div class="col col-md-1" dnd-no-drag="true"></div>
							</div>
							<!-- **************************** End Day Accordion****************************************** -->
						</div>
					</div>
				</div>
			</div>
			<!-- ***************************** End Week Accordion***************************************** -->
		</div>
<!-- ************************************************** End Curriculum View ********************************************************************** -->

<!-- ************************************************** Begin Pool Sidebar View ********************************************************************** -->
		<div id="poolView" class="col col-md-2">
			<div class="columnHeader text-center">
				<h2>Topic Pool</h2>
			</div>

			<!-- ***************************** Begin Topic Accordion***************************************** -->
			<div id="topicAccordion" role="tablist">
				<div class="card" ng-repeat="topic in topics">
					<div class="card-header"
						 role="tab">
						<h5 data-toggle="collapse" data-parent="#topicAccordion" data-target="#collapseTopic{{sanitizeString(topic.name)}}">
							{{topic.name}}
						</h5>
					</div>

					<div id="collapseTopic{{sanitizeString(topic.name)}}" class="collapse" role="tabpanel">
						<div class="card-block">
							<ul class="list-group">
								<li class="list-group-item" 
									ng-repeat="sub in topic.subtopics"
									dnd-draggable="sub" 
									dnd-effect-allowed="copy" 
									dnd-moved="topic.subtopics.splice($index, 1)">
									{{sub.name}}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- ***************************** End Topic Accordion***************************************** -->
		</div>
	</div>
</div>