<div class="jumbotron" ng-controller="dashboardController">
	<div class="container" ng-init = "getData()"  ng-model="getData">
		<div class="pan">
		<h1 class="display-3">Welcome, {{user.fName}}</h1>
		<p class="lead">Pick up where you left off</p>
		<div>Batch Status: {{message}}</div>	
 		</div>
		
		<div class="row">
		<div id="pan2" class="col-md-6">
		<ul  ng-model="getData">
			<li>First Name: {{user.fName}}</li>
			<li>Last Name: {{user.lName}}</li>
			<li>Current Batch Start Date: {{currentBatchStart1 | date: 'MM-dd-yyyy'}}</li>
			<li>Current Batch End Date: {{currentBatchEnd1 | date: 'MM-dd-yyyy'}}</li>
		</ul>
		</div>
				
		<div id="pan3" class="col-md-5">
			<h2>Week: {{weekNum}}</h2>
				<h3>Associates in batch:</h3>
				<ul>
				 <li ng-repeat="users in batch.usersInBatch">{{batch.users.fName}}</li>
				</ul>
		</div>
		</div>
		
		<div id="progress" ng-show="user.batch || trainerBatch">
		Batch Progress:
			<div id="batchProgress" class="progress" >
  				<div class="progress-bar progress-bar-striped active" role="progressbar"
  					aria-valuemin="0" aria-valuemax="100" ng-style="{width: percent}">
   					{{ percent }}
  				</div>
			</div>
		</div>

 