<ul class="nav nav-tabs">
	<li class="nav-link"><a href="#/Home">Calendar</a></li>
	<li class="nav-link"><a href="#/associates">View Associates</a></li>
	<li class="nav-link active"><a href="#/editBatch">Edit Batch</a></li>
</ul>
<br>

<div class="header">
	<h3>Edit A Batch</h3>
</div>

<div class="editBatch-container">
	<div class="input-group">
		<span class="input-group-addon">Batch Name</span>
		<input type="text" class="form-control" ng-model="batch.name" placeholder="Batch Name" required />
	</div>
	<div class="input-group">
		<span class="input-group-addon">Start Date</span>
		<input type="date" class="form-control" ng-model="batch.startDate" required />
	</div>
	<div class="input-group">
		<span class="input-group-addon">End Date</span>
		<input type="date" class="form-control" ng-model="batch.endDate" required />
	</div>
	<div class="input-group">
		<span class="input-group-addon">Trainer</span>
		<input type="text" class="form-control" ng-model="batch.trainer.firstName" placeholder="First Name" required />
		<input type="text" class="form-control" ng-model="batch.trainer.lastName" placeholder="Last Name" required />
	</div>
	<div class="input-group">
		<span class="input-group-addon">Batch Type</span>
		<input type="text" class="form-control" ng-model="batch.type" placeholder="Batch Type" required />
	</div>
	<div class="input-group">
		<span class="input-group-addon">Add/Remove Associate</span>
		<button  ng-click="addRemAssociate()">Add/Remove</button>
	</div>
	<div class="input-group">
		<span class="input-group-addon">Subtopics?</span>
		<button  ng-click="addRemSubtopic()">Add/Remove</button>
	</div>
	
	
</div>

<div id="users" class="hide">
	<div class="header">
		<h4>User Management</h4>
		<div class="searchbox-container">

				<div class="input-group">
					<span class="input-group-addon">Search</span> <input
						class="form-control" type="text" ng-model="searchBox"
						placeholder="Search" required />
				</div>
			</div>
	</div>
	<div class="nav nav-tabs">
		<span class="nav-item tab" ng-class="{active: isSet(1) }"><a class="nav-link" ng-class="{active: isSet(1) }" ng-click="setTab(1)">Remove</a></span>
		<span class="nav-item tab" ng-class="{active: isSet(2) }"><a class="nav-link" ng-class="{active: isSet(2) }" ng-click="setTab(2)">Add</a></span>
	</div>
	<div id="inBatch" ng-show="isSet(1)">
		<table class="associate-rm">
			<tr class="rm-header">
				<td ng-click="order = 'fName'" class="head">First Name</td>
				<td ng-click="order = 'lName'" class="head">Last Name</td>
				<td ng-click="order = 'email'" class="head">Email</td>
				<td ng-click="order = 'batch'" class="head">Batch Id</td>
				<td ng-click="order = 'phone'" class="head">Main Phone</td>
				<td ng-click="order = 'phone2'" class="head">Secondary Phone</td>
				<td ng-click="order = 'skype'" class="head">Skype</td>
				<td class="head">Drop/Remove</td>
			</tr>
			<!-- ng repeat here to loop through associates in batch -->
			<tr class="associate-row" ng-repeat="a in batch.usersInBatch | filter:searchBox | orderBy:order">
				<td class="value fname">{{a.fName}}</td>
				<td class="value lname">{{a.lName}}</td>
				<td class="value email">{{a.email}}</td>
				<td class="value batchId">{{a.batch}}</td>
				<td class="value mPhone">{{a.phone}}</td>
				<td class="value sPhone">{{a.phone2}}</td>
				<td class="value skype">{{a.skype}}</td>
				<td class="value"><button ng-click="dropAssociate(a.id)" class="drop">Drop</button><button ng-click="remAssociate(a.id)" class="remove">Remove</button></td>
				
			</tr>
			
		</table>
	</div>
	
	<div id="outBatch" ng-show="isSet(2)">
		<table class="associate-add">
			<tr class="add-header">
				<tr class="rm-header">
				<td ng-click="order = 'fName'" class="head">First Name</td>
				<td ng-click="order = 'lName'" class="head">Last Name</td>
				<td ng-click="order = 'email'" class="head">Email</td>
				<td ng-click="order = 'batch'" class="head">Batch Id</td>
				<td ng-click="order = 'phone'" class="head">Main Phone</td>
				<td ng-click="order = 'phone2'" class="head">Secondary Phone</td>
				<td ng-click="order = 'skype'" class="head">Skype</td>
				<td class="head">Add</td>
			</tr>
			<!--  ng repeat here to loop through associates who can be added -->
			<tr class="associate-row" ng-repeat="a in availUsers| filter:searchBox | orderBy:order">
				<td class="value fname">{{a.fName}}</td>
				<td class="value lname">{{a.lName}}</td>
				<td class="value email">{{a.email}}</td>
				<td class="value batchId">{{a.batch}}</td>
				<td class="value mPhone">{{a.phone}}</td>
				<td class="value sPhone">{{a.phone2}}</td>
				<td class="value skype">{{a.skype}}</td>
				<td class="value"><button ng-click="addAssociate(a.id)" class="add">Add</button>
			</tr>
		</table>
	</div>
</div>

