<div class="vertical-center">
	<div class="row">
		<div class="login col-md-8">
			<div class="login-vertical-align">

				<div class="alert alert-danger" ng-show="controller.error">
					There was a problem trying to update.</div>
				<h3>Update Account</h3>
				<form role="form" ng-submit="controller.update">
				
					<div class="input-group">
						<span class="input-group-addon">First Name:&emsp;&nbsp;</span> <input
							class="form-control" type="text" ng-model="user.fName"
							placeholder="First Name" required />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Middle Name:</span> <input
							class="form-control" type="text" ng-model="user.mName"
							placeholder="Middle name" required />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Last Name:&emsp;&nbsp;</span> <input
							class="form-control" type="text" ng-model="user.lName"
							placeholder="Last name" required />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Phone:&emsp;&emsp;&emsp;</span> <input
							class="form-control" type="text" ng-model="user.phone"
							placeholder="Phone" required />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Alt
							Phone:&emsp;&nbsp;&nbsp;</span> <input class="form-control" type="text"
							ng-model="user.altPhone" placeholder="Alt Phone" required />
					</div>

					<div class="input-group">
						<span class="input-group-addon">Skype:&emsp;&emsp;&emsp;&nbsp;</span>
						<input class="form-control" type="text" ng-model="user.skype"
							placeholder="Skype" required />
					</div>
					<br>
					<div class="input-group">
						<div class="login-btn-container">
							<button type="submit" class="btn threeqtr-width" id="login-btn">UPDATE</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="login col-md-4">
			<div class="login-vertical-align">
				<img src="static/img/revature_logo.png" width="90%"> <img
					src="static/img/rev_timeline.png" width="90%">
			</div>
		</div>
	</div>
</div>
<!-- 
<div class="vertical-center">
	<div class="row">
		<div class="login col-md-6">

			<div class="login-vertical-align">
				<form>
					<h3>Email</h3>
					<input type="text" class="form-control revature-form"
						ng-model="email" placeholder="" required> <br>

					<h3>Password</h3>
					<input type="password" class="form-control revature-form"
						ng-model="password" placeholder="" required> <br>

					<div class="alert alert-danger" ng-show="controller.error">
						There was a problem trying to update.
					</div>
					
					<div class="login-btn-container">
						<button type="submit" class="btn threeqtr-width" id="login-btn" ng-click="">UPDATE</button>
					</div>
				</form>
			</div>
		</div>
		<div class="login col-md-4">
			<div class="login-vertical-align">
				<img src="static/img/revature_logo.png" width="90%"> <img
					src="static/img/rev_timeline.png" width="90%">
			</div>
		</div>
	</div>
</div>

 -->