<div class="vertical-center">
	<div class="login-container full-width">
		<div class="login full-width">
			<div class="searchbox-container">
				Search:
				<input type="text" ng-model="searchBox" />
			</div>
			
			<table class="associates">
				<tr class="associates-header">
					<td ng-click="order = 'fname'" class="head">Name</td>
					<td ng-click="order = 'email'" class="head">Email</td>
					<td ng-click="order = 'batchId'" class="head">Batch Id</td>
					<td ng-click="order = 'mPhone'" class="head">Main Phone</td>
					<td ng-click="order = 'sPhone'" class="head">Secondary Phone</td>
					<td ng-click="order = 'skype'" class="head">Skype</td>
				</tr>
				<tr class="associates-row" ng-repeat="a in associateList | filter:searchBox | orderBy:order">
					<td class="value lname">{{a.lname}}, {{a.fname}}</td>
					<td class="value email">{{a.email}}</td>
					<td class="value batchId">{{a.batchId}}</td>
					<td class="value mPhone">{{a.mPhone}}</td>
					<td class="value sPhone">{{a.sPhone}}</td>
					<td class="value skype">{{a.skype}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>