/* PARENT ELEMENT */
#curriculumManager{
	width:100%;
	margin:0px;
	overflow: hidden;
}

.columnHeader{
	padding: 10px;
		
}

.columnBody{
	padding: 0px;
}

/* LEFT SIDEBAR */
#curriculaLoaderView{
	border: 1px solid #ccc;
	border-radius: 3px;
	padding:0px;
	overflow-x:hidden;
	overflow-y:auto;
	max-height: 900px;
	height: 900px;
}

#curriculaLoaderView .columnHeader{
	padding-left: 0px;
	padding-right: 0px;
}

#curriculaLoaderView #curriculaAccordion .card{
	padding: 0px;
}

.card-block{
	padding: 0px;
}

#dayList .card-block .row .col .card-header{
	color: blue;
	background-color: #fff;
}

/* MIDDLE */
#curriculumView{
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow-x:hidden;
	overflow-y:auto;
	max-height: 900px;
	height: 900px;
}

.list-group{
	min-height: 50px;
}

.card-header{
	white-space: normal;
	word-wrap: break-word;
	overflow: hidden;
}

.list-group-item:hover{
	background-color: #b5d1ff;
	cursor: pointer;
}

.col-md-2 {
	padding: 0px;
}

.day-list{
	margin:0px;
}

.day-list-item{
	/* padding: 0px; */
	
}

.day-header{
	background-color: #0275d8;
	color: white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-bottom: 2px solid #555;
	border-radius 6px;
}

/* RIGHT SIDEBAR */
#poolView{
	padding:0px;
	border: 1px solid #ccc;
	border-radius: 3px;
	overflow-x:hidden;
	overflow-y:auto;
	max-height: 900px;
	height: 900px;
}

.dndDraggingSource{
	display:none;
	list-style-type:none;
}

.dndPlaceholder{
	height:50px;
	opacity:.5;
	list-style-type:none;
}

