@CHARSET "ISO-8859-1";

.jumbotron{
	
	background-image: url('https://ak3.picdn.net/shutterstock/videos/12450170/thumb/1.jpg');
	background-blend-mode: luminosity;
	background-repeat: no-repeat;
    background-size: cover;
    height: -webkit-fill-available;
}

.pan{
	width: auto;
    background-color: rgba(243, 93, 10, 0.88);
    padding: 50px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    
}

#pan2{
	width: auto;
    background-color: rgba(147, 144, 181, 0.9);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

#pan3{
	width: auto;
    background-color: rgba(147, 144, 181, 0.9);
    float: right;
	margin: 15px;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

#progress{
    background-color:rgba(147, 144, 181, 0.9);
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

ul {
    padding-left: 15px;
}

li {
	list-style: none;
}

