@CHARSET "ISO-8859-1";

.jumbotron{
	
	background-image: url('https://ak3.picdn.net/shutterstock/videos/12450170/thumb/1.jpg');
	background-blend-mode: luminosity;
	background-repeat: no-repeat;
    background-size: cover;
    height: -webkit-fill-available;
}

.pan{
	width: 1000px;
    background-color: rgba(243, 93, 10, 0.88);
    padding: 50px;
    margin: 25px;
    color: white;
    border-radius: 5px;
}