/*
    TABLE OF CONTENTS
    ---------------------------------------
    1.0		LOGIN STYLING
    2.0		NAVBAR STYLING
    3.0		FONTS
    4.0		TABLES
*/

/***** 1.0 LOGIN STYLING *****/
.vertical-center {
	/* 	min-height: 100%; Fallback for browsers do NOT support vh unit */
	/* 	min-height: 100vh; */
	/* These two lines are counted as one :slightly_smiling_face:       
	padding: 15px 30px;
	background-color: #ccc;*/
	display: flex;
	border-radius: 15px;
}

.login {
	text-align: left;
	/*font-family: 'Arial', sans-serif;*/
	display: block;
	margin: auto;
}

.well {
	border-radius: 15px;
}

.login-vertical-align {
	display: table-cell;
	vertical-align: middle;
	/*font-family: "Audimat";*/
	font-size: 1.4em;
}

.revature-form {
	/* 	font-family: "Audimat"; */
	font-size: 1.5em;
}

#wrong-credentials {
	text-align: center;
}

/*Buttons*/
.login-btn-container {
	text-align: center;
	margin: auto;
}

.threeqtr-width {
	width: 75%;
	letter-spacing: 1.5px;
}

#login-btn {
	color: #ffffff;
	background-color: #303e74;
}

#create-acc-btn {
	color: #ffffff;
	background-color: #f26925;
}

/***** 2.0 NAVBAR STYLING *****/
.full-navbar {
	width: 100%;
	background-color: #3379b7;
	height: 40px;
	border-radius: 5px;
}

.full-navbar ul {
	list-style: none;
	display: inline-block;
}

.full-navbar ul li {
	display: inline;
	padding-right: 20px;
	/* 	font-family: "Audimat"; */
	font-size: 26px;
}

.full-navbar ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.full-navbar ul li a:hover {
	color: #c1d6e9;
	/*text-shadow: 2px 2px #1e486d;*/
}

.full-navbar ul li a:active {
	position: relative;
	top: 2px;
}

#myNavbar {
	color: #000000;
	background-color: #3379b7;
}

#myNavbar ul li {
	/* 	font-family: "Audimat"; */
	border-top: 1px solid #5b93c5;
	font-size: 1.4em;
	padding: 0 10px;
}

#myNavbar ul li a {
	color: white;
}

.navbar-button {
	/* 	font-family: "Audimat" !important; */
	background-color: #3379b7;
	border: 2px outset #5b93c5;
	border-radius: 5px;
	font-size: 1.4em;
	/* 	font-family: bold; */
	color: white;
}


/***** 4.0 TABLES *****/
.searchbox-container {
	/* 	font-family: "Audimat"; */
	font-size: 1.2em;
}

.searchbox-container input {
	background-color: #ddd;
	/* 	font-family: "Audimat"; */
	font-size: 1.2em;
}

.associates {
	width: 100%;
	border: 2px solid #333;
	margin-top: 10px;
	/* 	font-family: "Audimat"; */
	font-size: 1.2em;
}

.associates-header {
	font-weight: bold;
}

.associates tr:nth-child(odd) {
	background-color: #ddd;
}

.associates td {
	padding: 0 4px;
}

html {
	min-height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	/* IE10+ */
	background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #FFE8FC 0%,
		#142863 100vh);
	/* Mozilla Firefox */
	background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #FFE8FC 0%,
		#142863 100vh);
	/* Opera */
	background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #FFE8FC 0%,
		#142863 100vh);
	/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 572, color-stop(0
		, #FFE8FC), color-stop(100, #142863));
	/* Webkit (Chrome 11+) */
	background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #FFE8FC
		0%, #142863 100vh);
	/* W3C Markup */
	background-image: radial-gradient(ellipse farthest-corner at right bottom, #FFE8FC 0%,
		#142863 100vh);
}

/*#content {
	background-color: #FFFFFF;
	border-radius: 4px;
	overflow: auto;
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	height:73%; 
	width: 78%;
	padding-top: 4%;*/

#content{
	margin-top: 50px;
	background-color: #FFFFFF ;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 4px;
	overflow-y: hidden;
	max-height: 85vh;
	

	
	/*
	position: relative;
	top: 35vh;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	*/
}

/***** Edit Batch Page *****/
.nav-link {
	cursor: pointer;
}

.input-tag {
	width: 125px;
}