/*
    TABLE OF CONTENTS
    ---------------------------------------
    1.0		LOGIN STYLING
    2.0		NAVBAR STYLING
    3.0		FONTS
    4.0		TABLES
*/

/***** 1.0 LOGIN STYLING *****/
.login
{
    text-align: left;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff ;
    
}

.main
{
    /*margin-top: 50px;*/
    /*background-color: #f16925 ;*/
    /*background-image: url("../img/backGround.jpg");*/    
}

.well {
	border-radius: 15px;
}

.vertical-center
{
    min-height: 100%;   /*Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :slightly_smiling_face:       */
	padding: 15px 30px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.login-container {
    min-height: 100%;
    min-height: 100vh;
}

.revature-logo {
    background-color: #ccc;
    min-height: 100%;
    display: table;
    min-height: 100vh;
}

.login {
    padding: 15px;
    border-radius: 15px;
    display: table;
    min-height: 100vh;
}

.login-vertical-align {
    display: table-cell;
    vertical-align: middle;
    font-family: "Audimat";
    font-size: 1.4em;
}

.revature-form {
    font-family: "Audimat";
    font-size: 1.5em;
}

.login-btn-container {
    text-align: center;
    margin: auto;
}

.login-btn {
    border: 2px outset #5b93c5;
    background-color: #3379b7;
    border-radius: 5px;
    padding: 2px 15px;
    color: white;
    font-family: "Audimat";
    font-size: 1.4em;
    font-weight: bold;
}

.full-width {
	width: 100%;
}

/***** 2.0 NAVBAR STYLING *****/
.full-navbar {
	width: 100%;
	background-color: #3379b7;
	height: 40px;
	border-radius: 5px;
}

.full-navbar ul {
	list-style: none;
	display: inline-block;
}

.full-navbar ul li {
	display: inline;
	padding-right: 20px;
	font-family: "Audimat";
	font-size: 26px;
}

.full-navbar ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

.full-navbar ul li a:hover {
	color: #c1d6e9;
	/*text-shadow: 2px 2px #1e486d;*/
}

.full-navbar ul li a:active {
	position: relative;
	top: 2px;
}

#myNavbar
{
	color: #000000;
	background-color: #3379b7;
}

#myNavbar ul li {
	font-family: "Audimat";
	border-top: 1px solid #5b93c5;
	font-size: 1.4em;
	padding: 0 10px;
}

#myNavbar ul li a {
	color: white;
}

.navbar-button {
	font-family: "Audimat" !important;
	background-color: #3379b7;
	border: 2px outset #5b93c5;
	border-radius: 5px;
	font-size: 1.4em;
	font-family: bold;
	color: white;
}

/***** 3.0 FONTS *****/
/*
@font-face {
   font-family: "Audimat";
   src: url("audimat-regular.otf");
}
@font-face {
   font-family: 'Audimat';
   src: url('audimat-bold.otf');
   font-weight: bold;
}
@font-face {
   font-family: 'Audimat';
   src: url('audimat-bolditalic.otf');
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: 'Audimat';
   src: url('audimat-italic.otf');
   font-style: italic;
}
*/
/***** 4.0 TABLES *****/
.searchbox-container {
	font-family: "Audimat";
	font-size: 1.2em;
}

.searchbox-container input {
	background-color: #ddd;
	font-family: "Audimat";
	font-size: 1.2em;
}

.associates {
	width: 100%;
	border: 2px solid #333;
	margin-top: 10px;
	font-family: "Audimat";
	font-size: 1.2em;
}

.associates-header {
	font-weight: bold;
}

.associates tr:nth-child(odd) {
	background-color: #ddd;
}

.associates td {
	padding: 0 4px;
}