<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 	<bean id="myDataSource" name="myDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
 		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
		<property name="url" value="#{systemEnvironment['DB_CHOICE']=='LOCAL'? systemEnvironment['LOCAL_DB_URL'] :
		                              systemEnvironment['DB_CHOICE']=='PRODUCTION'? systemEnvironment['PRODUCTION_DB_URL'] :
		                              systemEnvironment['DEVELOPMENT_DB_URL']}"></property>
		<property name="username" value="#{systemEnvironment['DB_CHOICE']=='LOCAL'? systemEnvironment['LOCAL_DB_USERNAME'] :
		                                   systemEnvironment['DB_CHOICE']=='PRODUCTION'? systemEnvironment['PRODUCTION_DB_USERNAME'] :
		                                   systemEnvironment['DEVELOPMENT_DB_USERNAME']}"></property>
		<property name="password" value="#{systemEnvironment['DB_CHOICE']=='LOCAL'? systemEnvironment['LOCAL_DB_PASSWORD'] :
		                                   systemEnvironment['DB_CHOICE']=='PRODUCTION'? systemEnvironment['PRODUCTION_DB_PASSWORD'] :
		                                   systemEnvironment['DEVELOPMENT_DB_PASSWORD']}"></property>
		<property name="maxIdle" value="0"></property> 
		<property name="minIdle" value="10"></property>
		<property name="minEvictableIdleTimeMillis" value="10"></property>
 	</bean>

</beans>
