<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 			<!-- ROOT TAG -->
	<session-factory>				<!-- configuration for the session factory -->

		<!-- DB Configuration -->
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@bamprod.cvoui7q38caj.us-east-2.rds.amazonaws.com:1521:orcl</property>
		<property name="hibernate.connection.username">bamproduser</property>
		<property name="hibernate.connection.password">revabam2017</property>
		<property name="hibernate.connection.pool_size">10</property>

		<property name="show_sql">true</property> <!-- Queries display in console that are written for you -->
		<property name="hibernate.hbm2ddl.auto">update</property> <!-- Specify ddl approach -->
		
		<property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
				
		<!-- Mapping CLASSES with hibernate -->
		
		<!-- Example of mapping a bean 
		<mapping class="com.revature.bean.User" />
 		-->
		
	</session-factory>
</hibernate-configuration>