<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<File name="FILE" fileName="/log4j_logs/BAM_Phoenix_log.log"
			append="false">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss ZZZ} %F.%L level:%-5p%m" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="FILE" />
		</Root>
	</Loggers>
</Configuration>